---
import LogoBlakeJones from "../assets/logo-blake-jones.svg";
---

<hr />

<footer class="flex flex-wrap items-center justify-between gap-[1.25em]">
  <p class="my-0 flex flex-wrap items-center gap-2">
    Created by
    <a
      class="transition-opacity duration-500 ease-out hover:opacity-50"
      href="https://blakejones.dev/"
      target="_blank"
    >
      <LogoBlakeJones class="h-[28px] w-full" />
    </a>
  </p>
  <p class="my-0">
    Licensed under <a
      href="https://github.com/blakej115/ez-dialogs/blob/main/LICENSE"
      target="_blank">MIT</a
    >
  </p>
</footer>
