---
import SocialIcons from "../components/SocialIcons.astro";
---

<div
  class="mb-[0.8888889em] flex flex-wrap items-center justify-between gap-[0.8888889em] text-[2.25em]"
>
  <h1 class="mb-0 text-[length:inherit]">Ez Dialogs</h1>
  <SocialIcons />
</div>
