---
import SocialIcon from "../components/SocialIcon.astro";
import Github from "../assets/github-brands-solid.svg";
import NPM from "../assets/npm-brands-solid.svg";
import LogoB from "../assets/logo-b.svg";
---

<nav class="flex gap-4">
  <SocialIcon href="https://github.com/blakej115/ez-dialogs">
    <Github class="w-full max-w-8" />
  </SocialIcon>
  <SocialIcon href="https://www.npmjs.com/package/ez-dialogs">
    <NPM class="w-full max-w-8" />
  </SocialIcon>
  <SocialIcon href="https://blakejones.dev/">
    <LogoB class="w-full max-w-8" />
  </SocialIcon>
</nav>
