---
import LogoBlakeJones from "../assets/logo-blake-jones.svg";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Ez Dialogs</title>
  </head>
  <body>
    <section class="flex min-h-screen flex-col items-center justify-center p-8">
      <article class="prose w-full">
        <slot />
      </article>
    </section>
  </body>
</html>
