---
import "@fontsource-variable/rubik";
import ExampleDialog from "../components/ExampleDialog.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Ez Dialogs</title>
  </head>
  <body>
    <section
      class="flex min-h-screen flex-col items-center justify-center px-8 py-10"
    >
      <article class="prose w-full">
        <slot />
      </article>
      <ExampleDialog />
    </section>
  </body>
</html>
