---
import "@fontsource-variable/rubik";
import ExampleDialog from "../components/ExampleDialog.astro";
import Sidebar from "../components/Sidebar.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} | Ez Dialogs` : "Ez Dialogs"}</title>
  </head>
  <body class="bg-gray-200">
    <main class="flex justify-center p-4 sm:p-8">
      <section
        class="grid max-w-[860px] grow grid-cols-[200fr_660fr] overflow-hidden rounded-md shadow-md"
      >
        <Sidebar />
        <article class="prose max-w-none bg-white p-4 sm:p-8">
          <slot />
        </article>
      </section>
      <ExampleDialog />
    </main>
  </body>
</html>
